*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'new times roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url('../media/fondo-mesa-poquer-diseno-plano_23-2151047002.avif');
    width: 100%;
    height: 100%;
    justify-content: center    ;
    align-items: center;
   
    
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
 

}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo h1 {
    color: goldenrod;
}

.container-reglas {
    display: flex;
    flex-direction: row;
    gap: 9.5rem;
}

.container-reglas button {
    background-color: goldenrod;
    width: 6vw;
    border-radius: 0.5rem;
    height: 3vw;
    
}

.container-jugar button {
    background-color: rgb(32, 218, 41);
    width: 6vw;
    
    border-radius: 0.5rem;
}

.containerCartas {
display: flex;
flex-direction: row;
gap: 2rem;
    
}

.containerCartas img{
   
   width: 15vw;

}

.cartaDecoracion{
 position: relative;
 left: 25vi;
}