*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url('../media/fondo-mesa-poquer-diseno-plano_23-2151047002.avif');
    background-color: #000000;
    font-family: 'new times roman', Times, serif;
}

.container1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    position:relative;
    color: goldenrod;
    font-size: 3rem;
    text-align: center;
    bottom: 15vi;
    left: 15vi;

}

.fondo {
    position: relative;
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;

}
