*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url('../media/fondo-mesa-poquer-diseno-plano_23-2151047002.avif');
    background-color: #000000;
    font-family: 'new times roman', Times, serif;
}

.container1{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    
}
h1{
    color: goldenrod;
    text-align: center;
}
p{
    color: white;
    
}
.h1, p{

position: relative;
font-weight: bold;
font-size: 20px;


}
